In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv('crop_recommendation.csv')

In [6]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

### Seperating features and target label

In [7]:
features = df[['N', 'P','K','temperature', 'humidity', 'ph', 'rainfall']]
target = df['label']
labels = df['label']

In [8]:
# Initialzing empty lists to append all model's name and corresponding name
acc = []
model = []

In [9]:
# Splitting into train and test data

from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features,target,test_size = 0.4,random_state =7)

# Support Vector Machine (SVM)

In [10]:
from sklearn.svm import SVC
# data normalization with sklearn
from sklearn.preprocessing import MinMaxScaler
# fit scaler on training data
norm = MinMaxScaler()
X_train_norm = norm.fit_transform(Xtrain)
# transform testing dataabs
X_test_norm = norm.transform(Xtest)
SVM = SVC(kernel='poly', degree=3, C=1)
SVM.fit(X_train_norm,Ytrain)
predicted_values = SVM.predict(X_test_norm)
x = metrics.accuracy_score(Ytest, predicted_values)
acc.append(x)
model.append('SVM')
print("SVM's Accuracy is: ", x)
print(classification_report(Ytest,predicted_values))

SVM's Accuracy is:  0.9840909090909091
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        44
      banana       1.00      1.00      1.00        38
   blackgram       0.98      0.98      0.98        45
    chickpea       1.00      1.00      1.00        37
     coconut       1.00      1.00      1.00        37
      coffee       1.00      0.98      0.99        48
      cotton       0.97      1.00      0.99        35
      grapes       1.00      1.00      1.00        37
        jute       0.85      0.92      0.89        38
 kidneybeans       0.98      1.00      0.99        48
      lentil       0.97      0.95      0.96        40
       maize       1.00      0.97      0.99        39
       mango       1.00      1.00      1.00        38
   mothbeans       0.98      1.00      0.99        40
    mungbean       1.00      1.00      1.00        39
   muskmelon       1.00      1.00      1.00        36
      orange       1.00      1.00      1.00        45
      papaya       0.98      1.00      0.99        43
  pigeonpeas       1.00      0.98      0.99        42
 pomegranate       1.00      1.00      1.00        30
        rice       0.95      0.88      0.91        40
  watermelon       1.00      1.00      1.00        41

    accuracy                           0.98       880
   macro avg       0.98      0.98      0.98       880
weighted avg       0.98      0.98      0.98       880

In [11]:
import joblib
joblib.dump(SVM , "recommender.pkl")

['recommender.pkl']

In [12]:
 joblib.dump(norm , "recommender_scaled.pkl")

['recommender_scaled.pkl']